# Data Science Tools and Ecosystem

***Objectives:***
- List popular data science languages.
- Practice implementing markdown and code cells in Jupyter Notebook
- List popular tools / libraries for data science.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow
4. scikit learn

| Data Science Tools |
|--------|
| Jupyter Notebooks |
| RStudio |
| Spyder |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [21]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335